@tailwind base;
@tailwind components;
@tailwind utilities;


/* --- Star Rating Styles --- */
input[type="radio"].hidden {
  display: none;
}

input[type="radio"]:checked ~ .star-label,
input[type="radio"]:checked + .star-label {
  color: #facc15;
}

input[type="radio"]:hover ~ .star-label,
input[type="radio"]:hover + .star-label {
  color: #facc15;
}